*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,  sans-serif;
}

body{
    background-color: #f1f1f1;
}

.wrapper, .header-wrapper{
    text-align: center;
}

input{
    font-size: 50px;
    font-weight: 700;
    color: #C2C2C2;
    background-color:#f1f1f1;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 700px;
}

.btn__icon{
    width: 55px;
}

.btn{
    border: none;
}

.circle{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;    
    vertical-align: middle;
}

.square{
    height: 30px;
    width: 30px;
    border: none;   
    vertical-align: middle;  
}

h3{
    color: #C2C2C2;
    margin: 0 auto;
    padding-top: 10px;
}

.container1{
    margin: 0 auto;
    display: inline-block;
    width: 20%;
    text-align: left;
}

li{
    list-style-type: none;
    background-color: #EBEBED;
    color: #C2C2C2;
    border: 2px solid #f1f1f1;
    font-size: 14px;
    padding: 10px 0 5px 5px;
    margin-right: 15px;
}

li:hover{
    background-color: #E4E4E6;
    color: #D28891;
}